body {background-image: url(bg.png);}

.Karte {
    background-image: url(wrapperbg.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

.muscheln {
    position: absolute;
    top: 63%;
    left: 32%;
}

.pinguin {
    position:absolute;
    top: 60%;
    right: 32%;
}

.willkommenin {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 33%;
    left: 39%;
    color:honeydew
}

.furtwangen {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 37%;
    left: 39%;
    color:honeydew
}

p {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    position:absolute;
    top: 47%;
    left: 39%;
}

.text1 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    top: 51%;
    left: 39%;
}

.text2 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    top: 53%;
    left: 39%;
}

.text3 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    top: 55%;
    left: 39%;
}

.text4 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    top: 57%;
    left: 39%;
}