body {background-image: url(bg5.png);}

.Karte {
    background-image: url(wrapperbg5.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

img {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%)
}

h1 {
    color: honeydew;
    position: absolute;
    left: 38%;
    top: 35%;
}

.oben {
    column-count:3;
    column-gap: 40px;
    width: 500px;
    position: absolute;
    left: 37%;
    top: 47%;
    text-align: center;
    color: honeydew;
}

.unten {
    column-count:2;
    column-gap: 20px;
    width: 400px;
    position: absolute;
    left: 39%;
    top: 58%;
    text-align: center;
    color: honeydew;
}