body {background-image: url(bg5.png);}

.Karte {
    background-image: url(wrapperbg5.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

h1 {
    color: honeydew;
    position: absolute;
    margin-left: 110px;
    margin-top: 75px;
}

.oben {
    column-count:3;
    column-gap: 40px;
    width: 500px;
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
    text-align: center;
    color: honeydew;
}

.unten {
    column-count:2;
    column-gap: 20px;
    width: 400px;
    position: absolute;
    margin-left: 70px;
    margin-top: 250px;
    text-align: center;
    color: honeydew;
}