body {background-image: url(bg2.png);}

.Karte {
    background-image: url(wrapperbg2.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

.muschel1 {
    position: absolute;
    background: url(muschel.png) no-repeat;
    margin-top: 280px;
    margin-left: 80px;
    width: 130px;
    height: 130px;
}

.muschel2 {
    position: absolute;
    background: url(muschel.png) no-repeat;
    margin-top: 180px;
    margin-left: 250px;
    width: 130px;
    height: 130px;
}

.muschel3 {
    position: absolute;
    background: url(muschel.png) no-repeat;
    margin-top: 230px;
    margin-left: 450px;
    width: 130px;
    height: 130px;
}

.text1 {
    font-family: 'Times New Roman', Times, serif;
    color: honeydew;
    position: absolute;
    margin-top: 50px;
    margin-left: 110px;
}

.text2 {
    font-family: 'Times New Roman', Times, serif;
    color: honeydew;
    position: absolute;
    margin-top: 80px;
    margin-left: 110px;
}

.muschel1:hover {
    background: url(muschel_perle.png) no-repeat;
}

.muschel2:hover {
    background: url(muschel_perle.png) no-repeat;
}

.muschel3:hover {
    background: url(muschel_perle.png) no-repeat;
}