body {background-image: url(bg.png);}

.Karte {
    background-image: url(wrapperbg.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

.muscheln {
    margin-top: 280px;
    margin-left: -70px;
    position:absolute;
}

.pinguin {
    margin-left:460px;
    margin-top: 280px;
    position: absolute;
}

.willkommenin {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 50px;
    margin-left: 90px;
    color:honeydew
}

.furtwangen {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    margin-top: 90px;
    margin-left: 90px;
    color:honeydew
}

p {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    position:absolute;
    margin-top: 160px;
    margin-left: 90px;
}

.text1 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    margin-top: 200px;
    margin-left: 90px;
}

.text2 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    margin-top: 225px;
    margin-left: 90px;
}

.text3 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    margin-top: 250px;
    margin-left: 90px;
}

.text4 {
    font-family: 'Times New Roman', Times, serif;
    color:honeydew;
    margin-top: 275px;
    margin-left: 90px;
}