body {background-image: url(bg7.png);}

.Karte {
    background-image: url(wrapperbg7.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 150px;
}

iframe {
    position:absolute;
    margin-top: 75px;
    margin-left: 75px;
    z-index: 1;
}

.band {
    position: absolute;
    margin-left: 250px;
    margin-top: 200px;
    z-index: 2;
}