body {background-image: url(bg3.png);}

.Karte {
    background-image: url(wrapperbg3.png);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
}

h1 {
    font-family: jellyka_delicious_cakeregular;
    color: honeydew;
    position: absolute;
    margin-top: 50px;
    margin-left: 110px;
}

p {
    font-family: jellyka_delicious_cakeregular;
    color: honeydew;
    position: absolute;
    margin-top: 175px;
    margin-left: 110px;
    font-size: 20px;
}
